<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>地图与定位配合使用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC1CD9221EC705500ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1CDA621EC705600ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1CDB121EC705600ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
