<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>定位.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC1CD1C21EC692000ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1CD3021EC692900ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC1CD3B21EC692900ED3490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
